/* Container */

.container {
	font-family: Helvetica;
	padding: 30px;
}

/* Title Block & Elements */

.title {
	background-color: #E6E6E6;
	color: white;
	text-align: center;
}

/* Info Boxes & Elements */

.boxes__leftbox {
	float: left;
}

.boxes__rightbox {
	float: right;
}

.boxes__leftbox__rightbox--look {
	background-color: #ECE0F8;
	color: #FAFAFA;
	width: 47%;
}

.boxes__inner {
	background-color: #FAFAFA;
	color: #ECE0F8;
}

.boxes__leftbox,
.boxes__rightbox,
.boxes__inner,
.title {
	padding: 10px;
	border-radius: 10px;
}