/* Repeating Styles */

#lilac-boxes,
.outer-box,
.lilac-boxes {
	background-color: #ECE0F8;
	color: #FAFAFA;
	width: 47%;
}

#white-inner-boxes,
.inner-box,
.white-inner-boxes {
	background-color: #FAFAFA;
	color: #ECE0F8;
}

#general-box-struct,
.outer-box,
.inner-box,
h1,
.general-box-struct {
	border-radius: 10px;
	padding: 10px;
}

/* Non-repeating Styles */

body {
	font-family: Helvetica;
}

.containing-div {
	padding: 30px;
}

h1 {
	background-color: #E6E6E6;
	color: white;
	text-align: center;
}

.left-box {
	float: left;
}

.right-box {
	float: right;
}