/* Structure */

.containing-div {
  padding: 30px;
}

.all-boxes {
	border-radius: 10px;
	padding: 10px;
}

.title-struct {
	text-align: center;
}

.left-div {
  float: left;
}

.right-div {
  float: right;
}

.info-box-struct {
  width: 47%;
}

/* Skin */

body {
	font-family: Helvetica;
}

.title-skin {
	background-color: #E6E6E6;
	color: white;
}

.info-box-skin {
	background-color: #ECE0F8;
	color: #FAFAFA;
}

.inside-box-skin {
	background-color: #FAFAFA;
	color: #ECE0F8;
}