/* Base */

body {
	font-family: Helvetica;
}

h1 {
	text-align: center;
	background-color: #E6E6E6;
	color: white;
}

/* Layout */

#l-containing-div {
	padding: 30px;
}

#left-div {
	float: left;
}

#right-div {
	float: right;
}

/* Module */

.box {
	border-radius: 10px;
	padding: 10px;
}

.box-outer {
	background-color: #ECE0F8;
	color: #FAFAFA;
	width: 47%;
}

.box-inner {
	background-color: #FAFAFA;
	color: #ECE0F8;
	padding: 10px;
}

/* State */

/* Theme */
